<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 	th:replace="base::layout(~{::section})" -->
 <head>
<meta charset="UTF-8" />
<title>this is home page</title>
<!-- Bootstrap CSS -->
  <script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous" />  
  

</head>
<body>
	<section>
		 <div id="login">
       
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 220px;" class="col-md-12">
                    
                    
                    
		   <!-- message box  -->
		   <div th:if="${session.message}" class="container">
		   
		   	  <div  class="alert alert-danger my-2 text-center" role="alert">
  				
  				<span th:text="${session.message}"></span>
  				
			</div>
			
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			
		   </div>
                       
                       <!--  email form -->
                       <h3 class="text-center m-3">Your Registered Email </h3>
                       
                       <form method="post" action="" th:action="@{/send-otp}">
                       
                       
                       <div class="form-group">
                       
                       
                       <input name="email" required="required" type="email" placeholder="Enter email here" class="form-control" />
                       
                       
                       
                       </div>
                       
                       <div class="container text-center">
                       
                       
                       <button class="btn btn-warning">Send OTP</button>
                       
                       
                       </div>
                       
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>
</body>
</html>